.DS_Store
__pycache__/
*.py[cod]
.pytest_cache/

results/*.csv
figures/*.png

papers/(2020) An Optimal Algorithm for Multiplayer Multi-Armed Bandits/*
papers/(2021) Heterogeneous Multi-player Multi-armed Bandits Closing the Gap and Generalization/*
papers/(2022) Towards Optimal Algorithms for Multi-Player Bandits without Collision Sensing Information/*
papers/(2026) Multi-Channel Communication Algorithm for Multi-Player Multi-Armed Bandits without Collision Sensing/*
